* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.layout {
  display: flex;
}
.layout_side {
  flex: 1;
}
.layout_outlet {
  flex: 5;
  background: #f6f7f9;
  margin: 10px;
  box-shadow: 10px 10px 10px #f6f7f9, -10px -10px 2px #f6f7f9;
}
